alpaca-py
alpaca_trade_api>=2.1.0
ccxt>=1.66.32

gputil
gymnasium
importlib-metadata
jqdatasdk

lz4
# plot
matplotlib
# data handling
numpy>=1.17.3,<3.0.0
pandas>=1.1.5,<3.0.0
scikit-learn>=0.21.0,<2.0.0
pandas_market_calendars  # calendars

#hooks
pre-commit
pyfolio-reloaded

# testing requirements
pytest
ray[default]>=2.0.0,<3.0.0
ray[tune]>=2.0.0,<3.0.0
recommonmark

scipy

selenium

# packaging
setuptools>=65.5.0

# to build docs using sphinx
sphinx
sphinx_rtd_theme

SQLAlchemy
stable-baselines3[extra]
pygame>=2.5.0
stockstats>=0.4.0
swig

TA-lib # conda install -c conda-forge ta-lib

tensorboard
webdriver-manager
wheel>=0.33.6
wrds


# market data & paper trading API
yfinance
